.background {
  height: 100vh;
  width: 100%;
  position: fixed;
  transition: all 1s;
  img{
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  @media (max-width: 760px) {
  }
  .float__cakes__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 0;
    .float__cake {
      position: absolute;
      bottom: 0;
      height: 200px;
      border-radius: 50%;
      animation: flying_cakes 10s infinite ease-in-out;
      &:nth-child(1) {
        width: 50px;
        height: 50px;
        right: 14%;
        animation-duration: 18s;
      }
      &:nth-child(2) {
        width: 50px;
        height: 50px;
        right: 10%;
        animation-duration: 15s;
        animation-delay: 1s;
      }
      &:nth-child(3) {
        width: 50px;
        height: 50px;
        right: 15%;
        animation-duration: 20s;
        animation-delay: 2s;
      }
      &:nth-child(4) {
        width: 100px;
        height: 100px;
        right: 5%;
        animation-duration: 17s;
        animation-delay: 0s;
      }
      &:nth-child(5) {
        width: 50px;
        height: 50px;
        right: 55%;
        animation-duration: 16s;
        animation-delay: 1s;
      }
      &:nth-child(6) {
        width: 50px;
        height: 50px;
        left: 65%;
        animation-duration: 18s;
        animation-delay: 3s;
      }
      &:nth-child(7) {
        width: 100px;
        height: 100px;
        left: 75%;
        animation-duration: 7s;
        animation-delay: 2s;
      }
      &:nth-child(8) {
        width: 50px;
        height: 50px;
        left: 10%;
        animation-duration: 16s;
        animation-delay: 1s;
      }
      &:nth-child(9) {
        width: 100px;
        height: 100px;
        left: 7%;
        animation-duration: 19s;
        animation-delay: 0s;
      }
      &:nth-child(10) {
        width: 50px;
        height: 50px;
        left: 10%;
        animation-duration: 15s;
        animation-delay: 3s;
      }
      &:nth-child(11) {
        width: 100px;
        height: 100px;
        left: 15%;
        animation-duration: 15s;
        animation-delay: 3s;
      }
    }
  }
  @keyframes flying_cakes {
    0% {
      bottom: -50px;
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      bottom: 1080px;
      transform: translateX(-20px);
    }
  }
}
