@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
.background {
  font-family: "Nothing You Could Do", cursive;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  background-color: gold;
  background-repeat: no-repeat;
  background-size: 1600px 1000px;
  background-position: center center;
  transition: all 1s ease-in-out;
  .float__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .linkss {
      font-size: large;
      background-color: goldenrod;
      width: 100%;
      height: 100vh;
      justify-content: space-evenly;
      clip-path: circle(100px at 100% -5%);
      -webkit-clip-path: circle(100px at 100% -5%);
      transition: all 1s ease-in-out;
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .linkss__open {
      clip-path: circle(700px at 100% -5%);
      -webkit-clip-path: circle(700px at 100% -5%);
    }
  }
}
.background__click {
  z-index: 1;
  opacity: 0.9;
}
