@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
.landing__page {
  font-family: "Nothing You Could Do", cursive;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  .header__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    .title__header {
      // font-size: 3rem;
    }
    .bgimgone {
      z-index: -1;
      margin: -33% 40% 0% 0%;
    }
  }
  .cocktail__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
    .title__header {
      // font-size: 3rem;
      // margin-top: 50%;
    }
    .bgimgtwo {
      z-index: -1;
      margin: -20% 0% 0% 50%;
      background-color: rgba(141, 8, 8, 0.5);
      border-radius: 25px;
    }
  }
  .food__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -10%;
    z-index: 1;
    // height: 100vh;
    .food__header {
      // font-size: 3rem;
    }
    .bgimgthree {
      z-index: -1;
      margin: 15% 60% 0% 0%;
    }
  }
  .portfolios {
    width: 100%;
    margin-top: -30%;
    padding: 2%;
    .port__wrap {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      overflow: hidden;
      width: 100vw;
      height: 50vh;
      // background-color: salmon;
      .port__item {
        margin: -40% 0% 0% 0%;
      }
    }
    .port__wraptwo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      overflow: hidden;
      width: 100vw;
      height: 50vh;
      justify-content: center;
      align-items: center;
      // background-color: seagreen;
      .port__item {
        margin: -40% 0% 0% 0%;
      }
    }
  }
  .contact {
    .contact__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .contact__image {
      }
      .contact__icons {
        font-size: 3rem;
        color: gold;
        .call,
        .whatsapp,
        .email {
          display: flex;
          align-items: center;
        }
        i {
          margin-right: 15px;
        }
        .contact__form {
          display: flex;
          flex-direction: column;
          background-color: rgba(255, 255, 255, 0.5);
          padding: 4%;
          font-size: 2rem;
          width: 550px;
          height: 350px;
          border-radius: 25px;
        }
        #message {
          background-color: rgba(255, 255, 255, 0);
          color: gold;
          border: none;
          font-family: "Nothing You Could Do", cursive;
          width: 510px;
          height: 330px;
          outline: none;
        }
      }
    }
  }
  .footer {
    height: 250px;
    background-color: rgb(255, 86, 24);
    width: 100%;
  }
}
@keyframes showsteps {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
