@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
.landing__page {
  font-family: "Nothing You Could Do", cursive;
  @media (max-width: 1200px) {
    background-size: 1500px 760px;
  }
  @media (max-width: 755px) {
    background-size: cover;
  }
  overflow-y: hidden;
  .header__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 16%;
    .title__header {
      // font-size: 3rem;
    }
    .bgimgone {
      z-index: -1;
      margin: -35% 40% 0% 0%;
    }
  }
  .cocktail__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
    .title__header {
      // font-size: 3rem;
    }
    .bgimgtwo {
      z-index: -1;
      margin: -30% 0% 0% 50%;
      background-color: red;
      border-radius: 25px;
    }
  }
  .food__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 14%;
    z-index: 1;
    // height: 100vh;
    .food__header {
      // font-size: 3rem;
    }
    .bgimgthree {
      z-index: -1;
      margin: -15% 40% 0% 0%;
    }
  }
  .portfolios {
    width: 100%;
    height: 100vh;
    .port__wrap {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      overflow: hidden;
      width: 100vw;
      height: 50vh;
      background-color: salmon;
      .port__item {
        margin: -40% 0% 0% 0%;
      }
    }
    .port__wraptwo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      overflow: hidden;
      width: 100vw;
      height: 50vh;
      justify-content: center;
      align-items: center;
      background-color: seagreen;
      .port__item {
        margin: -40% 0% 0% 0%;
      }
    }
  }
  .footer {
    height: 250px;
    background-color: rgb(255, 86, 24);
    width: 100%;
  }
}
@keyframes showsteps {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
