@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
.navbar {
  font-family: "Nothing You Could Do", cursive;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  .nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
    .dora {
      font-size: 5rem;
      margin-left: 20px;
      cursor: pointer;
      text-decoration: none;
      font-weight: 900;
      @media screen and (max-width: 1300px) {
        font-size: 4rem;
      }
      @media screen and (max-width: 1010px) {
        font-size: 3.5rem;
      }
      @media screen and (max-width: 861px) {
        font-size: 1.8rem;
        margin-top: 3%;
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media screen and (max-width: 768px) {
        display: none;
      }
      a {
        text-decoration: none;
        color: antiquewhite;
      }
      .home {
        font-size: 4rem;
        margin-left: 20px;
        cursor: pointer;
        text-decoration: none;
        @media screen and (max-width: 1300px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 1010px) {
          font-size: 2.5rem;
        }
      }
      .port {
        font-size: 3.3rem;
        margin-left: 20px;
        cursor: pointer;
        @media screen and (max-width: 1300px) {
          font-size: 2.3rem;
        }
        @media screen and (max-width: 1010px) {
          font-size: 1.8rem;
        }
      }
      .contact {
        font-size: 2.7rem;
        margin-left: 20px;
        cursor: pointer;
        @media screen and (max-width: 1300px) {
          font-size: 1.7rem;
        }
        @media screen and (max-width: 1010px) {
          font-size: 1.4rem;
        }
      }
    }
    .bars {
      flex-direction: column;
      cursor: pointer;
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
      .barwrap__one {
        display: flex;
        .bar__one {
          height: 3px;
          width: 16px;
          background-color: antiquewhite;
          margin: 1rem 0.2rem 0rem 0rem;
          transition: all 1s;
        }
        .bar__two {
          height: 3px;
          width: 16px;
          background-color: antiquewhite;
          margin: 1rem 0rem 0rem 0rem;
          transition: all 1s;
        }
      }
      .barwrap__two {
        display: flex;
        .bar__three {
          height: 3px;
          width: 16px;
          background-color: antiquewhite;
          margin: 0.5rem 0.2rem 0rem 0rem;
          transition: all 1s;
        }
        .bar__four {
          height: 3px;
          width: 16px;
          background-color: antiquewhite;
          margin: 0.5rem 0rem 0rem 0rem;
          transition: all 1s;
        }
      }
    }
    .bars__click {
      cursor: pointer;
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
      .barwrap__one {
        display: flex;
        .bar__one {
          height: 3px;
          width: 16px;
          background-color: antiquewhite;
          margin: 1rem 0.2rem 0rem 0rem;
          transition: all 1s;
          transform: rotate(45deg) translateX(8px);
        }
        .bar__two {
          height: 3px;
          width: 16px;
          background-color: antiquewhite;
          margin: 1rem 0rem 0rem 0rem;
          transition: all 1s;
          transform: rotate(-45deg) translateX(-7px);
        }
      }
      .barwrap__two {
        display: flex;
        .bar__three {
          height: 3px;
          width: 16px;
          background-color: antiquewhite;
          margin: 0.5rem 0.2rem 0rem 0rem;
          transition: all 1s;
          transform: rotate(-45deg) translateY(6px);
        }
        .bar__four {
          height: 3px;
          width: 16px;
          background-color: antiquewhite;
          margin: 0.5rem 0rem 0rem 0rem;
          transition: all 1s;
          transform: rotate(45deg) translateY(6px);
        }
      }
    }
  }
}
