@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
.navbar {
  font-family: "Nothing You Could Do", cursive;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  .nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      text-decoration: none;
      color: antiquewhite;
    }
    .home {
      font-size: 5rem;
      margin-left: 20px;
      cursor: pointer;
      text-decoration: none;
    }
    .port {
      font-size: 4.3rem;
      margin-left: 20px;
      cursor: pointer;
    }
    .contact {
      font-size: 3.3rem;
      margin-left: 20px;
      cursor: pointer;
    }
    .about {
      font-size: 2.5rem;
      margin-left: 20px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}
