.portfolio {
  position: relative;
  .drop {
    background-color: rgba(248, 250, 116, 0.6);
    position: absolute;
    height: 100%;
    width: 95%;
    transition: all 2s;
    margin: 0% 0% 0% 0%;
    .drop__content {
      background-color: rgba(46, 139, 87, 0.8);
      margin: 60% 0% 0% 0%;
      padding: 1%;
      i {
        color: gold;
      }
    }
  }
  .dropped {
    background-color: rgba(248, 250, 116, 0.6);
    position: absolute;
    height: 100%;
    width: 95%;
    transition: all 2s;
    margin: -90% 0% 0% 0%;
    .drop__content {
      background-color: rgba(46, 139, 87, 0.8);
      margin: 50% 0% 0% 10%;
      padding: 1%;
      i {
        color: gold;
      }
    }
  }
  .port__image__wrap {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    .cake {
      height: 250px;
      width: 400px;
      margin-top: 10%;
      object-fit: cover;
      border-radius: 10px;
      background-color: white;
    }
    .icon__wrap {
      margin: -26% 0.5% 0% 0%;
      background-color: seagreen;
      padding: 0.5%;
      border-radius: 2px;
      .icon__arrow {
        font-size: 3rem;
        transform: rotate(180deg);
        cursor: pointer;
        transition: all 1s;
      }
      .rotate__arrow {
        font-size: 3rem;
        transform: rotate(180deg);
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 1s;
      }
    }
  }
}
