.portfolio {
  position: relative;
  .drop {
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 120%;
    width: 57%;
    transition: all 1s;
    margin: 11% 0% 0% 0%;
    padding: 0%;
    border-radius: 10px;
    .drop__content {
      background-color: rgba(46, 139, 87, 0.8);
      margin: 95% 0% 0% 0%;
      padding: 1%;
      i {
        color: gold;
      }
    }
  }
  .dropped {
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 120%;
    width: 57%;
    transition: all 1s;
    margin: -90% 0% 0% 0%;
    .drop__content {
      background-color: rgba(46, 139, 87, 0.8);
      margin: 95% 0% 0% 0%;
      padding: 1%;
      i {
        color: gold;
      }
    }
  }
  .port__image__wrap {
    display: flex;
    align-items: center;
    position: relative;
    // top: 0;
    .cake {
      height: 200px;
      width: 270px;
      margin-top: 22%;
      object-fit: cover;
      border-radius: 4px;
      padding: 0.2%;
      background-color: white;
      
      opacity: 0;
    }
    .show__pic{
      height: 200px;
      width: 270px;
      margin-top: 22%;
      object-fit: cover;
      border-radius: 4px;
      padding: 0.2%;
      transition: all 1s 1s;
      // background-color: white;
      opacity: 1;
    }
    .icon__wrap {
      margin: -26% -4% 0% 0%;
      // background-color: seagreen;
      padding: 0.6%;
      border-radius: 10px;
      .icon__arrow {
        font-size: 2.2rem;
        transform: rotate(180deg);
        cursor: pointer;
        transition: all 1s;
        
      }
      .rotate__arrow {
        font-size: 2.2rem;
        transform: rotate(180deg);
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 1s;
        color: seagreen;
      }
    }
  }
}
