.portfolio {
  position: relative;
  .drop {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    height: 90%;
    width: 57%;
    transition: all 1s;
    margin: 19.6% 0% 0% 0%;
    border-radius: 10px;
    @media screen and (max-width: 1300px) {
      height: 99%;
    }
    .drop__content {
      margin: 80% 0% 0% 0%;
      padding: 3%;
      height: 22%;
      transition: all 1s 0.8s;
      @media screen and (max-width: 1300px) {
        transition: all 1s 1s;
        // padding: 6%;
        margin: 65% 0% 0% 4%;
      }
      i {
        color: gold;
        transition: all 1s 1s;
      }
      p {
        color: rgb(168, 167, 167);
        transition: all 1s 1s;
        @media screen and (max-width: 650px) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: 400px) {
          font-size: 1rem;
        }
      }
    }
  }
  .dropped {
    background-color: rgb(253, 248, 237);
    position: absolute;
    height: 95%;
    width: 57%;
    transition: all 1s 1s;
    margin: 20% 0% 0% 0%;
    border-radius: 10px;
    @media screen and (max-width: 1300px) {
      height: 100%;
    }
    .drop__content {
      margin: 50% 0% 0% 0%;
      padding: 3%;
      height: 22%;
      transition: all 1s 1s;
      @media screen and (max-width: 1300px) {
        margin: 40% 0% 0% 0%;
      }
      @media screen and (max-width: 650px) {
        margin: 30% 0% 0% 0%;
      }
      @media screen and (max-width: 1300px) {
        font-size: 0.8rem;
      }
      i {
        color: rgb(238, 238, 238);
        transition: all 1s 1s;
      }
      p {
        color: rgb(192, 191, 191);
        transition: all 1s 1s;
        @media screen and (max-width: 650px) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: 400px) {
          font-size: 1rem;
        }
      }
    }
  }
  .port__image__wrap {
    display: flex;
    align-items: center;
    position: relative;
    // top: 0;
    .cake {
      height: 100%;
      width: 50%;
      margin-top: 22%;
      object-fit: cover;
      border-radius: 4px;
      padding: 0.2%;
      padding: 2%;
      background-color: white;
      opacity: 0;
      transition: all 1s 1s;
      @media screen and (max-width: 1300px) {
        height: 100%;
        width: 53%;
        // transition: all 1s 2s;
      }
    }
    .show__pic {
      height: 100%;
      width: 56%;
      margin: 20% -2.7%;
      object-fit: cover;
      border-radius: 20px;
      padding: 2%;
      transition: all 1s 1s;
      opacity: 1;
      @media screen and (max-width: 1300px) {
        height: 100%;
        width: 53%;
        // transition: all 1s 2s;
      }
      @media screen and (max-width: 1117px) {
        margin: 20% -4.9%;
      }
      @media screen and (max-width: 876px) {
        margin: 20% -2.4%;
      }
      @media screen and (max-width: 705px) {
        margin: 20% -4.1%;
      }
      @media screen and (max-width: 650px) {
        height: 120%;
        margin: 20% -7.9%;
      }
      @media screen and (max-width: 400px) {
        margin: 20% -4.1%;
      }
    }
    .icon__wrap {
      margin: -26.5% -4% 0% 0%;
      // background-color: seagreen;
      padding: 0.6%;
      border-radius: 10px;
      opacity: 2;
      .icon__arrow {
        font-size: 2.2rem;
        transform: rotate(180deg);
        cursor: pointer;
        transition: all 1s;
        color: white;
        @media screen and (max-width: 650px) {
          margin: -26% -4% 0% 0%;
        }
      }
      .rotate__arrow {
        font-size: 2.2rem;
        transform: rotate(180deg);
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 1s 1.7s;
        color: gold;
        @media screen and (max-width: 650px) {
          margin: -26% -4% 0% 0%;
        }
      }
    }
  }
}
